html, body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
    margin: 0;
    padding: 0;
    font-family: "Californian FB", serif;
    color: #5c5c5c;
}

.icon {
    cursor: pointer;
    transition: transform .3s;
}

.icon:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 50px;
    line-height: 52px;
    color: #4c8189;
    margin-bottom: 0;
}

h2 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 10px;
    font-style: italic;
}

button {
    background-color: #4c8189;
    color: #ffffff;
    font-weight: normal;
    border: 0;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform .2s;
}

button:hover {
    background-color: #b7403c;
    transform: scale(1.1);

}

a {
    color: unset;
}

a:hover {
    color: #4c8189;
}

#__nuxt
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: rgb(242, 236, 223);
    margin: 0;
}

@media (max-width: 800px) {
    .icon {
        width: 10%;
    }
}

